
.pseudobody{
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif
}

.indexBackground{
    background-image: url(./backgroundRodex3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

.indexlogoContainer{
    display: flex;
}


.logo{

    height: 100%;
    width: 100%;
    padding: 90px 50px 0px 50px;
    display:block;
    margin: 0 auto 100px auto;
    align-self: flex-start

}


.indexButton {
    color: white;
    font-weight: 500px;
    font-size: 1.6em;
    text-align: center;
    padding: 6px 0;
    border-radius: 20px;
    background-color: rgba(4, 45, 113); 
    width: 50%;
    display:block;
    margin: 45px auto 20px auto;
    align-self: flex-end;

}

.indexText{

    color: rgba(4, 45, 113);
    margin-top: 155px;
    text-align: center;
    font-size: 1.3em;
    align-self: center;
    line-height: 1em;

}